body {
    box-sizing: border-box;
}

.App {
    display: flex;
    max-height: 100vh;
}

.info-section {
    height: 100vh;
    width: 40%;
    border-right: 1px solid black;
    overflow: hidden;
}

.chat-section {
    height: 100vh;
    width: 60%;
}
